
.rs-accordion-style1 .card .card-header {
    padding: 0;
    border: 1px solid rgb(197, 196, 196)!important;
    margin-bottom: 10px;
    background: transparent;
  }

  .title{
    text-align: center;
  }
  .t1{
    text-align: center;
  }