/* Basic styles for search box */
.search-box {
    position: relative; /* Position container to handle dropdown positioning */
    display: inline-block;
    width: 300px; /* Adjust width as needed */
}

.title {
    margin-bottom: 10px; /* Space between title and search box */
}

/* Style for the search input box */
.form-control {
    width: calc(100% - 40px); /* Adjust width considering the button */
    padding: 12px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    font-size: 16px; /* Larger font size for better readability */
    outline: none; /* Remove default focus outline */
}

/* Style for the button */
.btn-default {
    width: 40px;
    height: 100%;
    border: 1px solid #ccc; /* Light grey border */
    border-left: none;
