.why-fullstack-container,
.why-data-science-container,
.why-cyber-security-container,
.why-software-testing-container {
    background-color: #dfdff7;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px; /* Added margin for separation between sections */
}

.why-fullstack-title,
.why-data-science-title,
.why-cyber-security-title,
.why-software-testing-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.why-fullstack-grid,
.why-data-science-grid,
.why-cyber-security-grid,
.why-software-testing-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center;
}

.why-fullstack-item,
.why-data-science-item,
.why-cyber-security-item,
.why-software-testing-item {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.why-fullstack-link,
.why-data-science-link,
.why-cyber-security-link,
.why-software-testing-link {
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
    font-weight: 500;
}
